body {
    margin: 0;
    padding: 0;
}

.title{
    position: fixed;
    top: 0;
    width: 100%;  
    
}



.navBar{
    background-color: floralwhite;
}

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: relative;
  top: 0;
  width: 100%;
}

.navList li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

li a:hover {
  background-color: #008822;
}


.icsLogo{
    max-width: 100px;
    height: auto;
}


.description{
    float: left;
}


.intro{
    margin-left: 8vw;
    text-indent: 90px;
    margin-right: 8vw;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.top10{
    margin-left: 6vw;
    margin-right: 8vw;
}

.active{
    background-color: #008822
}


footer{
    position: relative;
    background-color: forestgreen;
    color: whitesmoke;
    margin-top: 6vw;
}


.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}


.sidebar {
  height: 100%; 
  width: 0; 
  position: fixed;
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}


.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}


.sidebar a:hover {
  color: #f1f1f1;
}


.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  position: relative;
  width: auto;
  max-width: 1000px;
}

.openbtn:hover {
  background-color: #444;
}


#main {
  transition: margin-left .5s; 
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

#top{
    transition: margin-top .5s;
}

#fly{
    transition: float .5s;
}

.headers{
    text-indent: 40px; 
    margin-left: 8vw;
    font-size: 30px;
    text-align: justify-all;
}

.aboutPage{
    background-image:url(background/bg7.png);
}